# Task 4.6 Combining and Exporting Data

In [15]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [16]:
path = r'C:\Users\Spero\Documents\Instacart Basket Analysis'

In [17]:
#importing combined dataframe
df_ords_com = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [18]:
#importing products dataframe
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [19]:
#while importing the csv file Unnamed column appeard this code will remove Unnamed
df_prods = df_prods.loc[:, ~df_prods.columns.str.contains('^Unnamed')]

In [20]:
#checking dataframe to see if dataframe changed while importing it
df_ords_com.shape

(32434489, 11)

In [21]:
# checking df_prods for suitable point to merge 
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [22]:
# checking df_ords_com for suitable point to merge with df_prods
df_ords_com.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [23]:
#removing the _merge column
df_ords_com = df_ords_com.drop(columns = ['_merge'])

# After examining the columns of both dataframes, Column product_id will be best to use to merge both dataframes

In [24]:
#Merging df_prods with df_ords_com
df_prods_ords_merged = df_ords_com.merge(df_prods, on = 'product_id', indicator = True)

In [25]:
df_prods_ords_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

In [26]:
df_prods_ords_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [27]:
df_prods_ords_merged.shape

(32404859, 15)

In [28]:
#Exporting Data as pickle
df_prods_ords_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged'))