# Task 4.6 Combining & Exporting Data

In [24]:
#Import Libraries 
import pandas as pd
import numpy as np
import os

In [25]:
#import data
df_ords = pd.read_csv(r'C:\Users\Spero\Documents\Instacart Basket Analysis\02 Data\Prepared Data\orders_cleaned.csv', index_col = False)
df_prods = pd.read_csv(r'C:\Users\Spero\Documents\Instacart Basket Analysis\02 Data\Prepared Data\products_checked.csv', index_col = False)
df_ords_prior = pd.read_csv(r'C:\Users\Spero\Documents\Instacart Basket Analysis\02 Data\Prepared Data\order_products__prior.csv', index_col = False)

In [26]:
path = r'C:\Users\Spero\Documents\Instacart Basket Analysis'

In [31]:
# removes the Unnamed above the first column in df_ords
df_ords = df_ords.loc[:, ~df_ords.columns.str.contains('^Unnamed')]

In [27]:
# Check the out output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [30]:
# Check the output
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [32]:
df_ords_prior.shape

(32434489, 4)

In [33]:
df_ords.shape

(3421083, 7)

In [35]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [37]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [38]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [39]:
# Exporting data to csv
df_merged_large.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.csv'))

In [40]:
#Exporting data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))